.emoji-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  border: 2px solid #ffffff30;
  border-radius: 15px;
  margin: 6px;
  padding: 10px;
  height: 150px;
  width: 150px;
  outline: none;
  cursor: pointer;
}

.emoji {
  height: 85px;
  width: 85px;
  cursor: pointer;
  outline: none;
}

.emoji-button {
  border: none;
  background-color: transparent;
  outline: none;
}

@media (max-width: 1159px) {
  .emoji-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff33;
    border: 2px solid #ffffff30;
    border-radius: 15px;
    margin: 6px;
    padding: 10px;

    height: 150px;
    width: 150px;
  }

  .emoji {
    height: 85px;
    width: 85px;
    cursor: pointer;
  }
}

@media (max-width: 864px) {
  .emoji-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff33;
    border: 2px solid #ffffff30;
    border-radius: 15px;
    margin: 6px;
    padding: 10px;

    height: 130px;
    width: 130px;
  }

  .emoji {
    height: 75px;
    width: 75px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .emoji-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff33;
    border: 2px solid #ffffff30;
    border-radius: 26px;
    margin: 6px;
    padding: 10px;

    height: 108px;
    width: 108px;
  }

  .emoji {
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
}
@media (max-width: 449px) {
  .emoji-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff33;
    border: 2px solid #ffffff30;
    border-radius: 26px;
    margin: 6px;
    padding: 10px;

    height: 95px;
    width: 95px;
  }

  .emoji {
    height: 55px;
    width: 55px;
    cursor: pointer;
  }
}